<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Landon Hotel | Guests</title>
</head>
<body>
	<h1>Guests page</h1>
	<table>
		<tr>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Email</td>
			<td>Phone</td>
		</tr>
		<tr th:each="guest: ${guests}">
			<td th:text="${guest.firstName}">First name</td>
			<td th:text="${guest.lastName}">Last name</td>
			<td th:text="${guest.email}">Email</td>
			<td th:text="${guest.phoneNumber}">Phone</td>
		</tr>
	</table>
</body>
</html>